/*
Error: Invalid CSS after "..."./footer.scss"": expected selector or at-rule, was ":root {"
        on line 7 of src/sass/estilos.scss

2: @import "./hero.scss";
3: @import "./menu.scss";
4: @import "./why.scss";
5: @import "./latestArticles.scss";
6: @import "./footer.scss"
7: :root {
8:   --darkBlue: hsl(233, 26%, 24%);
9:   --limeGreen: hsl(136, 65%, 51%);
10:   --rightCyan: hsl(192, 70%, 51%);
11:   --grayBlue: hsl(233, 8%, 62%);
12:   --gray: hsl(220, 16%, 96%);

Backtrace:
src/sass/estilos.scss:7
/home/ferchuqui/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
/home/ferchuqui/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1238:in `expected'
/home/ferchuqui/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:42:in `parse'
/home/ferchuqui/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:414:in `_to_tree'
/home/ferchuqui/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/home/ferchuqui/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/home/ferchuqui/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/home/ferchuqui/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/ferchuqui/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/home/ferchuqui/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/ferchuqui/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/home/ferchuqui/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:320:in `block in watch'
/home/ferchuqui/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/home/ferchuqui/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/home/ferchuqui/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/home/ferchuqui/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/home/ferchuqui/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/home/ferchuqui/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/home/ferchuqui/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/home/ferchuqui/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...\"./footer.scss\"\": expected selector or at-rule, was \":root {\"\A         on line 7 of src/sass/estilos.scss\A \A 2: @import \"./hero.scss\";\A 3: @import \"./menu.scss\";\A 4: @import \"./why.scss\";\A 5: @import \"./latestArticles.scss\";\A 6: @import \"./footer.scss\"\A 7: :root {\A 8:   --darkBlue: hsl(233, 26%, 24%);\A 9:   --limeGreen: hsl(136, 65%, 51%);\A 10:   --rightCyan: hsl(192, 70%, 51%);\A 11:   --grayBlue: hsl(233, 8%, 62%);\A 12:   --gray: hsl(220, 16%, 96%);"; }
